<header>
    <section class="info-container">
        <section>
            <a target="_blank" href="https://facebook.com/dermatovet.pe"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a target="_blank" href="https://instagram.com/dermatovet"><i class="fa-brands fa-square-instagram"></i></a>
        </section>
        <section>
            <p>Citas dermatológicas: <a target="_blank"
                    href="https://api.whatsapp.com/send?phone=51979707797&text=Hola,%20vengo%20de%20la%20web">
                    +51 979 707 797
                </a></p>
            <p>|</p>
            <p><a (click)="this.sharedSvc.goContacto()">Locales: San Borja y Jesús María</a></p>
        </section>
    </section>
    <section class="header-container">
        <section class="logo">
            <a (click)="sharedSvc.goHome()">
                <img src="../../assets/logo-dermatovet.webp" alt="logo-dermatovet" width="200px">
            </a>
        </section>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li class="first-menu-item"><a (click)="sharedSvc.goHome()">Inicio</a></li>
            <li><a (click)="sharedSvc.goDermatologia()">Dermatología</a></li>
            <li><a (click)="sharedSvc.goAseo()">Baños / Aseo</a></li>
            <li><a (click)="sharedSvc.goContacto()">Contacto / Locales</a></li>
        </ul>
    </section>
</header>