<footer>
    <section class="footer-container">
        <article class="navegation">
            <h5>Navegación</h5>
            <ul>
                <li><span class="material-icons">pets</span><a (click)="this.sharedSvc.goHome()">Inicio</a></li>
                <li><span class="material-icons">pets</span><a
                        (click)="this.sharedSvc.goDermatologia()">Dermatología</a></li>
                <li><span class="material-icons">pets</span><a (click)="this.sharedSvc.goAseo()">Baños/Aseos</a></li>
                <li><span class="material-icons">pets</span><a (click)="this.sharedSvc.goLocales()">Locales</a></li>
                <li><span class="material-icons">pets</span><a (click)="this.sharedSvc.goContacto()">Contacto</a></li>
            </ul>
        </article>
        <article>
            <h5>Dermatología</h5>
            <ul>
                <li>
                    Central de Citas:
                </li>
                <li>
                    <span class="material-icons">phone</span>
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=51979707797&text=Hola,%20vengo%20de%20la%20web">
                        +51 979 707 797
                    </a>
                </li>
            </ul>
            <br>
            <h5>Redes sociales</h5>
            <ul>
                <li>
                    <i class="fa-brands fa-square-facebook"></i>
                    <a target="_blank" href="https://www.facebook.com/dermatovet.pe">
                        Facebook
                    </a>
                </li>
                <li>
                    <i class="fa-brands fa-square-instagram"></i>
                    <a target="_blank" href="https://www.instagram.com/dermatovet">
                        Instagram
                    </a>
                </li>
            </ul>
        </article>
        <article class="locations">
            <h5>San Borja</h5>
            <ul>
                <li>
                    <span class="material-icons">map</span>
                    <a target="_blank" href="https://goo.gl/maps/KQJ5Zi41vtEHS7d6A">
                        Google Maps
                    </a>
                </li>
                <li>
                    <span class="material-icons">phone</span>
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=51934092287&text=Hola,%20vengo%20de%20la%20web">
                        +51 934 092 287
                    </a>
                </li>
            </ul>
            <br>
            <h5>Jesús María</h5>
            <ul>
                <li>
                    <span class="material-icons">map</span>
                    <a target="_blank" href="https://goo.gl/maps/cAQQtZr7eVCWXsrx5">
                        Google Maps
                    </a>
                </li>
                <li>
                    <span class="material-icons">phone</span>
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=51936626192&text=Hola,%20vengo%20de%20la%20web">
                        +51 936 626 192
                    </a>
                </li>
            </ul>
        </article>
        <article class="logo-article">
            <img src="../../assets/logo-dermatovet-blanco.png" alt="logo-dermatovet">
        </article>
    </section>
    <div class="rights">
        <p>Dermatovet ©2023. Todos los derechos reservados.</p>
        <p>Web desarrollada por <a href="https://alextina.pe" target="_blank">www.alextina.pe</a></p>
    </div>
</footer>