<section class="section-1">
    <h1>NOSOTROS</h1>
    <h3>Más de 10 años brindando bienestar dermatológico a los engreídos de casa.</h3>
    <p>Abrimos nuetsras puertas en el 2012, siendo el primer centro veterinario dedicado única y exclusivamente a
        dermatología animal en el Perú.</p>
    <img class="logo" src="../../assets/logotipo-dermatovet.png" alt="">
    <img class="image" src="../../assets/dog-face.png" alt="">
</section>

<section class="section-2">
    <section>
        <h1>Dra. Vanessa Llerena</h1>
        <h4>CMVP 5437</h4>
        <ul>
            <li>Graduada como Médico Veterinario en 2004, (Universidad Alas Peruanas).</li>
            <li>Pasantías: Dermatología veterinaria en University of Florida. Medicina Interna en Cornell University,
                Ithaca (USA). Dermatoclínica Sao Paulo, Brasil.</li>
            <li>Especialidad en Dermatología Veterinaria en el Centro de Especialidades Médicas Veterinarias en Buenos
                Aires, Argentina.</li>
            <li>Miembro efectivo de la Sociedad Latinoamericana de Dermatología Veterinaria (SLDV).</li>
            <li>Miembro fundador de la Asociación Peruana de Dermatología Veterinaria.</li>
            <li>Participante y ponente en congresos Internacionales de Dermatología y medicina Veterinaria.</li>
        </ul>
    </section>
</section>