<section class="section-1">
    <section class="section-a">
        <h1>Nosotros</h1>
        <h3>Más de 10 años brindando bienestar dermatológico a los engreídos de casa.</h3>
        <p>Abrimos nuestras puertas en el 2012, siendo el primer centro veterinario dedicado única y exclusivamente a
            dermatología animal en el Perú.</p>
    </section>
    <section class="section-b">
    </section>
</section>

<section class="section-2">
    <section class="section-a">
    </section>
    <section class="section-b">
        <div>
            <h1>Dra. Vanessa Llerena</h1>
            <h4>CMVP 5437</h4>
        </div>
        <ul>
            <li>Graduada como Médico Veterinario en 2004, (Universidad Alas Peruanas).</li>
            <li>Pasantías: Dermatología veterinaria en University of Florida. Medicina Interna en Cornell University,
                Ithaca (USA). Dermatoclínica Sao Paulo, Brasil.</li>
            <li>Especialidad en Dermatología Veterinaria en el Centro de Especialidades Médicas Veterinarias en Buenos
                Aires, Argentina.</li>
            <li>Miembro efectivo de la Sociedad Latinoamericana de Dermatología Veterinaria (SLDV).</li>
            <li>Miembro fundador de la Asociación Peruana de Dermatología Veterinaria.</li>
            <li>Participante y ponente en congresos Internacionales de Dermatología y medicina Veterinaria.</li>
        </ul>

        <p><strong>Horario:</strong> Atención de lunes a viernes de 9 am a 7 pm.</p>
        <a class="buttonClass" target="_blank"
            href="https://api.whatsapp.com/send?phone=51979707797&text=Hola,%20vengo%20de%20la%20web">
            <i class="fa-brands fa-whatsapp"></i>Agendar una cita</a>
    </section>
</section>