<section class="section-1">
    <section class="section-a">
        <h1>Nosotros</h1>
        <h3>Más de 10 años brindando bienestar dermatológico a los engreídos de casa.</h3>
        <p>Abrimos nuestras puertas en el 2012, siendo el primer centro veterinario dedicado única y exclusivamente a
            dermatología animal en el Perú.</p>
    </section>
    <section class="section-b">
    </section>
</section>

<section class="section-2">
    <section class="section-a">
    </section>
    <section class="section-b">
        <div>
            <h1>Dra. Vanessa Llerena</h1>
            <h4>CMVP 5437</h4>
        </div>
        <ul *ngFor="let estudio of estudios">
            <li><span class="material-icons">pets</span>{{estudio}}</li>
        </ul>

        <a class="buttonClass" target="_blank" rel="noopener noreferrer"
            href="https://api.whatsapp.com/send?phone=51979707797&text=Hola,%20vengo%20de%20la%20web">
            <i class="fa-brands fa-whatsapp"></i>Agendar una cita</a>
    </section>
</section>

<section class="section-3">
    <section class="section-a">
        <h1>Servicios Dermatológicos</h1>
        <article *ngFor="let servicio of servicios">
            <h3><span class="material-icons">pets</span>{{servicio.servicio}}</h3>
            <p>{{servicio.descripcion}}</p>
        </article>
    </section>
    <section class="section-b">
    </section>
</section>