.buttonClass {
    width: 200px;
    align-self: flex-end;
}

a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .fa-brands {
        color: var(--main-dark-color);
    }

    &:hover {
        .fa-brands {
            color: var(--main-light-color);
        }
    }
}

.section-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .section-a {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 50px 5%;

        @media (min-width: 1501px) {
            padding: 100px 10%;
        }
    }

    .section-b {
        width: 50%;
        height: auto;
        background-color: var(--accent-color);
        background-image: url(../../assets/dermatovet-10-años.jpg);
        background-size: cover;
        background-position: top 30% center;
    }

    @media (max-width: 800px) {

        .buttonClass {
            display: none;
        }

        .section-a {
            width: 100%;
        }

        .section-b {
            display: none;
        }
    }
}

.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--main-light-color);

    .section-a {
        width: 50%;
        height: auto;
        background-image: url(../../assets/dra-vanessa-llerena-dermatovet.jpg);
        background-size: cover;
        background-position: center top 20%;
    }

    .section-b {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 50px 5%;

        p {
            font-size: var(--h6-size);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                list-style: circle;
                margin-left: 25px;
            }

        }

        @media (min-width: 1501px) {
            padding: 100px 10%;
        }

    }

    @media (max-width: 800px) {

        .buttonClass {
            align-self: center;
        }

        .section-a {
            width: 100%;
            height: 500px;
            background-position: center top 20%;
        }

        .section-b {
            width: 100%;
        }

    }
}