* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    color: var(--second-dark-color);
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

:root {
    /* colores */
    --main-color: #33B9C8;
    --accent-color: #B6D069;
    --main-dark-color: #2E59A0;
    --second-dark-color: #656363;
    --main-light-color: #FFFFFF;
    --second-light-color: #dadada;
    --error-color: #c02d4d;
    /* fuentes */
    --h1-size: 42px;
    --h2-size: 30px;
    --h3-size: 24px;
    --h4-size: 20px;
    --h5-size: 18px;
    --h6-size: 16px;
    --p-size: 18px;
    --a-size: 14px;
    --small-size: 12px;
}

/* Estilos para encabezados */
h1 {
    font-size: var(--h1-size);
    font-weight: 800;
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
    font-weight: 600;
}

h6 {
    font-size: var(--h6-size);
}

/* Estilos para el cuerpo del texto */
p {
    font-size: var(--p-size);
    line-height: 1.5em;
}

a {
    font-size: var(--a-size);
    cursor: pointer;
}

small {
    font-size: var(--small-size);
}

/* Estilos para listas */
ul,
ol {
    font-size: var(--a-size);
    line-height: 1.5em;
}

button,
.buttonClass {
    font-size: var(--h5-size);
    height: 50px;
    padding: 10px 20px;
    color: var(--main-dark-color);
    background-color: var(--main-light-color);
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    border: 1px solid var(--main-dark-color);
    cursor: pointer;
    height: auto;
}

button:hover,
.buttonClass:hover,
button:focus,
button:active {
    color: var(--main-light-color);
    background-color: var(--main-dark-color);
}