<section class="section-1">
    <section>
        <img src="../../assets/logo-dermatovet-blanco.webp" alt="logo-blanco">
        <h1>Lo que tu engreído necesita para que nunca dejes de abrazarlo</h1>
        <div>
            <button (click)="this.sharedSvc.goDermatologia()">Consulta Dermatológica</button>
            <button (click)="this.sharedSvc.goAseo()">Tratamientos y Baños</button>
        </div>
    </section>
</section>
<section class="section-2">
    <section class="image"></section>
    <section class="text">
        <h2>Somos el 1ᵉʳ Centro Especializado en Dermatología Veterinaria en Lima</h2>
        <h4>Tenemos más de 10 años brindando bienestar dermatológico a los engreídos de casa.</h4>
    </section>
</section>
<section class="section-3">
    <h1>Tratamientos y Baños</h1>
    <p>Conoce todos los tratamientos de aseo y baños que tenemos para tu engreído.
    </p>
    <section class="gallery">
        <article *ngFor="let service of services" (click)="sharedSvc.goAseo()">
            <img [src]="service.image" alt="{{service.title}}">
            <h4>{{service.title}}</h4>
        </article>
    </section>
    <div>
        <a class="buttonClass" target="_blank"
            href="https://api.whatsapp.com/send?phone=51936626192&text=Hola,%20vengo%20de%20la%20web">
            <i class="fa-brands fa-whatsapp"></i>Agendar en San Borja</a>
        <a class="buttonClass" target="_blank"
            href="https://api.whatsapp.com/send?phone=51934092287&text=Hola,%20vengo%20de%20la%20web">
            <i class="fa-brands fa-whatsapp"></i>Agendar en Jesús María</a>
    </div>
</section>