<section class="section-1">
    <section class="info">
        <h1>Lo que tu engreído necesita para que nunca dejes de abrazarlo.</h1>
        <div>
            <button (click)="this.sharedSvc.goDermatologia()">Consulta Dermatológica</button>
            <button (click)="this.sharedSvc.goAseo()">Tratamientos y Baños</button>
        </div>
    </section>
    <section class="image-1">
        <img src="../../assets/el-amor-esta-en-la-piel.png" alt="el-amor-esta-en-la-piel">
    </section>
</section>
<section class="section-2">
    <img src="../../assets/dermatovet-10-años.jpg" alt="">
    <section>
        <h2>Somos el 1ᵉʳ Centro Especializado en Dermatología Veterinaria en Lima.</h2>
        <h4>Tenemos más de 10 años brindando bienestar dermatológico a los engreídos de casa.</h4>
    </section>
</section>
<section class="section-3">
    <h1>Tratamientos y Baños</h1>
    <h6>Todos nuestros servicios incluyen:
        <br> corte y limado de uñas, cepillado de dientes, limpieza externa de oídos, y bálsamo humectante en patas y
        nariz.
    </h6>
    <section class="gallery">
        <article>
            <img src="../../assets/therapy-clean.png" alt="">
            <h4>Therapy Clean</h4>
        </article>
        <article>
            <img src="../../assets/ozonoterapia.png" alt="">
            <h4>Ozonoterapia</h4>
        </article>
        <article>
            <img src="../../assets/baños-medicados.png" alt="">
            <h4>Baño Medicado</h4>
        </article>
        <article>
            <img src="../../assets/baños-clásicos.png" alt="">
            <h4>Baño Clásico</h4>
        </article>
    </section>
    <div>
        <a class="buttonClass" target="_blank"
            href="https://api.whatsapp.com/send?phone=51936626192&text=Hola,%20vengo%20de%20la%20web">
            <i class="fa-brands fa-whatsapp"></i>Agendar en San Borja</a>
        <a class="buttonClass" target="_blank"
            href="https://api.whatsapp.com/send?phone=51934092287&text=Hola,%20vengo%20de%20la%20web">
            <i class="fa-brands fa-whatsapp"></i>Agendar en Jesús María</a>
    </div>
</section>